@define-color selected-text #fbf1c7;
@define-color text #a89984;
@define-color base #32302f;
@define-color border #fbf1c7;
@define-color foreground #a89984;
@define-color background #32302f;

window * {
    all: unset;
    color: @text;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

window .normal-icons,
window .large-icons,
window .item-image,
window .symbols {
    -gtk-icon-size: 0;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    display: none;
}

window .box-wrapper {
    background: alpha(@base, 1);
    border: 2px solid alpha(@border, 0.4);
    border-radius: 8px;
    padding: 0px;
    margin: 0;
    box-shadow: 0 2px 12px alpha(#fbf1c7, 0.3);
    backdrop-filter: blur(10px);
    line-height: 1%;
}

window .search-container {
    border: 2px solid alpha(@border, 0.35);
    border-radius: 8px;
    padding: 6px 8px 6px 6px;
    margin: -2px;
    background: alpha(@base, 1);
    box-shadow: inset 0 0 6px alpha(#fbf1c7, 0.3);
    backdrop-filter: blur(8px);
    line-height: 25px;
}

window .input {
    background: transparent;
    color: @text;
    padding: 3px 4px;
    margin: 0;
    caret-color: @selected-text;
}

window .input::placeholder {
    opacity: 0.4;
    color: alpha(@text, 0.6);
}

window .list {
    margin: -2px;
    padding: 0px;
}

window .item-box {
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 5px 10px 0;
    margin: 0;
    background: alpha(@base, 0.45);
    transition: all 20ms ease-in-out;
    backdrop-filter: blur(6px);
    max-height: 0px;
}

window child:hover .item-box,
window child:selected .item-box {
    background: alpha(@selected-text, 0.18);
    border-color: alpha(@selected-text, 0.3);
    box-shadow: inset 0 0 6px alpha(@selected-text, 0.12);
}

window .item-text {
    font-weight: normal;
    color: @text;
    padding: 1px 2px;
}

window .item-subtext {
    opacity: 0.55;
    color: alpha(@text, 0.6);
    padding: 0 2px;
}

window .preview {
    border: 2px solid alpha(@border, 0.4);
    border-radius: 8px;
    background: alpha(@base, 0.5);
    color: @foreground;
    padding: 2px 4px;
    margin: -2px;
    box-shadow: inset 0 0 8px alpha(white, 0.05);
    backdrop-filter: blur(8px);
    line-height: normal;
}

window .keybinds-wrapper {
    border-top: 1px solid alpha(@border, 0.3);
    font-size: 11px;
    opacity: 0.75;
    margin: 1px 0 0 0;
    padding: 2px 4px;
    color: @foreground;
    background: alpha(@base, 0.5);
    border-radius: 5px;
    backdrop-filter: blur(6px);
}

window .error {
    background: alpha(@selected-text, 0.15);
    color: @selected-text;
    padding: 2px 3px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid alpha(@selected-text, 0.35);
    box-shadow: inset 0 0 5px alpha(@selected-text, 0.15);
    backdrop-filter: blur(5px);
}

window scrollbar {
    opacity: 0;
    min-width: 0;
    min-height: 0;
}
