@define-color bg #32302f;
@define-color fg #f0e4c5;
@define-color gray1 #a89984;
@define-color gray2 #7b6d60;
@define-color gray3 #706e6b;
@define-color gray4 #ebdbb2;
@define-color gray5 #afa499;
@define-color fg_bright #f0e4c5;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}