@define-color bg #ECD3A1;
@define-color fg #3c4747;
@define-color gray1 #3A443D;
@define-color gray2 #b79f70;
@define-color gray3 #1C2121;
@define-color gray4 #826e48;
@define-color gray5 #764E27;
@define-color fg_bright #3c4747;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}