# --- UI and Startup ---
# Start in fullscreen and fit to page width immediately
startup_commands toggle_fullscreen
should_launch_new_window 1


# --- Custom Theme ---
# Enable this with Ctrl+c

#Nord (Clean and Cold)
#custom_background_color 0.180 0.204 0.251
#custom_text_color 0.847 0.871 0.914

# Gruvbox (The "Hacker" Aesthetic)
custom_background_color 0.157 0.157 0.157
custom_text_color 0.922 0.859 0.698

# Solarized Dark (Best for reducing eye strain)
#custom_background_color 0.0 0.169 0.212
#custom_text_color 0.514 0.580 0.588



# Search Highlights: Frost Blue (Easy on eyes, highly visible)
search_highlight_color 0.533 0.753 0.816

# Link Labels: Aurora Orange (High contrast for the 'f' key)
overview_f_background_color 0.827 0.478 0.400
overview_f_text_color 0.180 0.204 0.251

# Highlight/Selection: Subtle Blue-Gray (Doesn't hide the text)
visual_mark_color 0.298 0.337 0.412 0.5

# Highlighted Text: Warm Gold (High contrast, easy to spot)
highlight_color 0.784 0.353 0.353
