/* it's better :)*/

@import "../omarchy/current/theme/swayosd.css";

window {
  border-radius: 10px;
  opacity: 0.97;
  border: 2px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
    border-radius: 999px;
    padding-bottom:8px;
    margin: 8px 0 0 0;
    min-height: 8px;
    min-width: 180px;
}

progressbar trough {
    background: alpha(@border-color, 0.15);
    border-radius: 999px;
    border: none;
    min-height: 8px;
}

progress {
  background-color: alpha(@border-color, 0.8);
  border-radius: 999px;
  
}
