    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #151515;
        --color01: #151515;
        --color02: #151515;
        --color03: #E1DEDE;
        --color04: #edecec;
        --color05: #edecec;
        --color06: #edecec;
        --color07: #edecec;
        --color08: #edecec;
        --color09: #9d9393;
        --color10: #b5aeae;
        --color11: #a19696;
        --color12: #c9c3c3;
        --color13: #aca3a3;
        --color14: #bab3b3;
        --color15: #9d9393;
    }
