/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #192423;
    --color01: #59c082;
    --color02: #6acda2;
    --color03: #77cfb8;
    --color04: #68c8cf;
    --color05: #8fc6d6;
    --color06: #6aa5cd;
    --color07: #d8e3e2;
    --color08: #628481;
    --color09: #82d9a5;
    --color10: #7eddb4;
    --color11: #b9e9dc;
    --color12: #7cd8de;
    --color13: #d1e9f0;
    --color14: #7eb7dd;
    --color15: #f1f4f3;
}
